{{- range $name, $app := .Values.apps }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}
  namespace: {{ $.Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ $name }}
  ports:
    - port: {{ $app.port }}
      targetPort: {{ $app.port }}
---
{{- end }}
